SDKs/
work/
built/
sources/*
!sources/.gitkeep
!sources/qrencode-*.tar.bz2
config.site
# Built architecture dependencies - keep local, never push to remote
x86_64*
i686*
mips*
arm*
aarch64*
*.log
*.tmp
*.o
*.d
!sources/zlib-*.tar.gz
